.feedback {
	position: relative;

	margin-top: -30px;

	background-color: $white;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;

	overflow: hidden;

	@media (max-width: $MIN-DESKTOP) {
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}

	&::before {
		content: "";
		display: block;
		width: 750px;
		height: 677px;

		background-image: url("./../assest/images/logos/cat_footer.svg");
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;

		position: absolute;
		bottom: -222px;
		right: 50%;
		transform: translateX(136.1%);

		@media (max-width: $MIN-DESKTOP) {
			width: 375px;
			height: 340px;

			bottom: -87px;
			transform: translateX(85.2%);
		}
	}

	&__container {
		padding-top: 80px;
		padding-bottom: 81px;

		@media (max-width: $MIN-DESKTOP) {
			padding-top: 23px;
			padding-bottom: 263px;
		}
	}

	&__form {
		max-width: 867px;
		padding: 33px 64px;

		background-color: $smoky-white;
		border-radius: 30px;

		@media (max-width: $MIN-DESKTOP) {
			padding: 20px 15px;

			border-radius: 20px;
		}
	}

	&__form-group {
		display: flex;
		flex-direction: column;
		@include option (gap, 16px, 10px);
		padding: 0;

		border: none;
	}

	&__title {
		padding: 0 2px 39px;

		font-family: $Oswald;
		font-weight: 500;
		@include option (font-size, 72px, 32px);
		line-height: 111%;
		letter-spacing: -0.03em;
		color: $black;

		@media (max-width: $MIN-DESKTOP) {
			padding: 0 0 20px;

			line-height: 150%;
			letter-spacing: -0.06em;
		}
	}

	&__input,
	&__textarea {
		padding: 0 24px;

		font-weight: 400;
		font-size: 28px;
		line-height: 143%;
		letter-spacing: 0em;
		color: $black;

		border: 2px solid $cadet-blue;
		border-radius: 30px;

		&::placeholder {
			color: $cadet-blue;
		}

		@media (max-width: $MIN-DESKTOP) {
			padding: 0 15px;

			font-size: 18px;
			line-height: 211%;
			letter-spacing: -0.01em;

			border-radius: 20px;
		}
	}

	&__input {
		@include option (height, 100px, 70px);
	}

	&__textarea {
		height: 240px;
		padding: 26px 21px;

		resize: none;

		@media (max-width: $MIN-DESKTOP) {
			height: 182px;
			padding: 14px 15px;

			letter-spacing: -0.03em;
		}
	}

	&__button {
		height: 100px;
		margin: 32px 0 16px;
		padding: 0 32px;

		font-weight: 500;
		@include option (font-size, 28px, 18px);
		@include option (line-height, 171%, 211%);
		@include option (letter-spacing, 0, -0.01em);
		color: $white;

		background-color: $black;
		border: none;
		border-radius: 30px;

		cursor: pointer;

		transition: 0.2s ease-in-out;

		&:hover,
		&:focus {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}

		@media (max-width: $MIN-DESKTOP) {
			width: 320px;
			height: 78px;
			margin: 20px auto 14px;

			border-radius: 20px;
		}
	}
}