.intro {
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 23px;
		margin-top: 58px;

		@media (max-width: $MIN-DESKTOP) {
			grid-template-columns: 1fr;
			margin-top: 18px;
		}
	}
	
	&__tracker {
		margin: 25px 0 0 24px;

		@media (max-width: $MIN-DESKTOP) {
			margin: 20px 0 0;
		}
	}
	
	&__title {
		font-family: $Oswald;
		font-weight: 500;
		@include option (font-size, 90px, 44px);
		// font-size: 90px;
		line-height: 89%;
		letter-spacing: -0.02em;
		color: $blue;

		@media (max-width: $MIN-DESKTOP) {
			line-height: 114%;
			letter-spacing: -0.05em;
		}
	}
	
	&__desc {
		padding-top: 23px;
	
		font-weight: 400;
		// @include option (font-size, 18px);
		font-size: 22px;
		line-height: 164%;
		letter-spacing: -0.01em;
		color: $blue;

		@media (max-width: $MIN-DESKTOP) {
			padding-top: 19px;

			font-size: 16px;
			line-height: 125%;
		}
	}
	
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
		padding-top: 64px;

		@media (max-width: $MIN-DESKTOP) {
			gap: 16px 12px;
			padding-top: 31px;
		}
	}
	
	&__item {
		padding: 0 16px;
	
		font-weight: 400;
		font-size: 16px;
		line-height: 300%;
		letter-spacing: 0.01em;
		text-align: center;
		color: $blue;
	
		background-color: $smoky-white;
		border-radius: 12px;

		@media (max-width: $MIN-DESKTOP) {
			padding: 0 11px;

			font-size: 14px;
			line-height: 271%;
		}
	}
	
	&__form {
		position: relative;
		
		max-width: 596px;
		margin-top: 12px;

		@media (max-width: $MIN-DESKTOP) {
			margin-top: 15px;
		}
	}
	
	&__input {
		width: 100%;
		height: 100px;
		padding: 0 228px 0 21px;
	
		font-weight: 400;
		font-size: 28px;
		line-height: 143%;
		letter-spacing: 0em;
		color: $blue;
	
		border: 2px solid $blue;
		border-radius: 30px;

		&::placeholder {
			color: $cadet-blue;
		}

		@media (max-width: $MIN-DESKTOP) {
			height: 70px;
			padding: 0 0 0 14px;

			font-size: 18px;
			line-height: 211%;
			letter-spacing: -0.01em;

			border-radius: 20px;
		}
	}
	
	&__button {
		position: absolute;
		top: 0;
		right: 0;
	
		height: 100px;
		padding: 0 32px;
	
		font-weight: 500;
		font-size: 28px;
		line-height: 171%;
		letter-spacing: 0em;
		text-align: center;
		color: $white;
	
		background-color: $blue;
		border: none;
		border-radius: 30px;
	
		cursor: pointer;
		
		transition: 0.2s ease-in-out;
	
		span {
			color: $emerald;
		}

		&:hover,
		&:focus {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}

		@media (max-width: $MIN-DESKTOP) {
			height: 70px;
			padding: 0 15px;

			font-size: 18px;
			line-height: 211%;
			letter-spacing: -0.01em;
			
			border-radius: 20px;
		}
	}

	&__wrapper {
		position: relative;
	
		background-color: $blue;
		border-radius: 30px;
	
		&::after {
			content: "";
			display: block;
			max-width: 644px;
			width: 100%;
			max-height: 313px;
			height: 100%;
	
			background-image: url("../assest/images/pen.png");
			background-size: 644px 313px;
			background-position: center;
			background-repeat: no-repeat;
	
			position: absolute;
			bottom: -22.8%;
			left: 1%;
		}

		@media (max-width: $MIN-DESKTOP) {
			margin-top: 8px;

			border-radius: 20px;

			&::after {
				max-width: 335px;
				max-height: 165px;

				background-size: 335px 165px;

				bottom: -22.2%;
			}
		}
	}
	
	&__user-text {
		width: max-content;
		margin: 19px 0 0 24px;
		padding: 0 16px;
	
		font-weight: 500;
		font-size: 16px;
		// @include option (font-size ,12px);
		line-height: 300%;
		letter-spacing: 0.01em;
		text-align: center;
		color: $dark-blue;
	
		background-color: $white;
		border-radius: 12px;

		@media (max-width: $MIN-DESKTOP) {
			margin: 10px 0 0 12px;
			padding: 0 8px;

			font-size: 10px;
			line-height: 290%;
			letter-spacing: 0.02em;

			border-radius: 9px;
		}
	}
	
	&__user-desc {
		position: relative;
	
		display: block;
		width: max-content;
		padding: 8px 24px;
	
		font-weight: 500;
		font-size: 22px;
		// @include option (font-size ,19px);
		line-height: 218%;
		letter-spacing: -0.01em;
		text-align: center;
		color: $dark-blue;
	
		background-color: $white;
		border-radius: 16px;
	
		&_colleague {
			margin: 73px auto 0;
	
			color: $ginger;
	
			&::after {
				content: "";
				display: block;
				width: 20px;
				height: 20px;
	
				background-color: $white;
	
				position: absolute;
				bottom: -12%;
				left: 47%;
				transform: rotate(45deg);
			}

			@media (max-width: $MIN-DESKTOP) {
				margin-top: 25px;

				&::after {
					width: 15px;
					height: 15px;
				}
			}
		}
	
		&_me {
			margin: 130px 0 201px 125px;
	
			&::after {
				content: "";
				display: block;
				width: 32px;
				height: 32px;
	
				background-image: url("../assest/images/cursor.svg");
				background-size: 32px 32px;
				background-repeat: no-repeat;
	
				position: absolute;
				top: -69%;
				left: 27%;
				z-index: 2;
			}

			@media (max-width: $MIN-DESKTOP) {
				margin: 92px 0 107px 29px;

				&::after {
					width: 20px;
					height: 20px;

					background-size: 20px 20px;
				}
			}
		}

		@media (max-width: $MIN-DESKTOP) {
			padding: 8px 15px;
	
			font-size: 13px;
			line-height: 178%;
			letter-spacing: 0.01em;
			
			border-radius: 12px;
		}
	}
	
	&__user-list {
		position: relative;
	
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 45px 0 0;

		@media (max-width: $MIN-DESKTOP) {
			padding: 15px 0 0;
		}
	}
	
	&__user-item {
		position: absolute;
		left: 17%;
		z-index: 1;
	
		width: 100px;
		height: 100px;
	
		&:nth-child(2) {
			left: 30%;
			z-index: 2;
		}
	
		&:nth-child(3) {
			left: 42%;
			z-index: 3;
		}
	
		&:nth-child(4) {
			left: 54%;
			z-index: 4;
		}
	
		&:nth-child(5) {
			left: 67%;
			z-index: 5;
		}

		@media (max-width: $MIN-DESKTOP) {
			left: 4.4%;

			width: 75px;
			height: 75px;

			&:nth-child(2) {
				left: 21.8%;
			}
	
			&:nth-child(3) {
				left: 38.5%;
			}
		
			&:nth-child(4) {
				left: 56%;
			}
		
			&:nth-child(5) {
				left: 72.8%;
			}
		}
	}
}
