.main-header__container {
	display: grid;
	grid-template-columns: max-content 1fr min-content;
	padding-top: 8px;
}

.main-header__logo {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 16px;

	svg:nth-of-type(2) {
		margin-top: 7px;
	}
}

.main-nav__list {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	padding: 8px 0 0 32px;
}

.main-nav__link {
	padding: 5px 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 300%;
	letter-spacing: 0.01em;
	text-align: center;
	text-decoration: none;
	color: $grayish-green;
}

.main-header__button {
	display: block;
	min-width: 129px;
	width: 100%;
	padding: 8px;

	font-weight: 500;
	font-size: 22px;
	line-height: 218%;
	text-align: center;
	text-decoration: none;
	color: $white;

	background-color: $black;
	border-radius: 30px;
}