.order {
  &__container {
    margin-top: 24px;

		@media (max-width: $MIN-DESKTOP) {
			margin-top: 9px;
		}
  }

  &__wrapper {
    font-weight: 400;
    @include option (font-size, 44px, 20px);
    line-height: 118%;
    letter-spacing: 0em;
    text-align: center;
    color: $heavenly;
  
    background-color: $lilac;
    border-radius: 30px;

		@media (max-width: $MIN-DESKTOP) {
			line-height: 110%;
			letter-spacing: -0.01em;

			border-radius: 20px;
		}
  }
  
  &__title {
    padding: 31px 0 0;
  
    font-family: $Oswald;
    font-weight: 400;
    @include option (font-size, 78px, 36px);
    line-height: 103%;
    letter-spacing: -0.05em;
    text-align: center;

		@media (max-width: $MIN-DESKTOP) {
			padding: 25px 0 0;

			line-height: 111%;
			letter-spacing: -0.03em;
		}
  }

  &__desc {
    padding: 21px 177px 24px;

		@media (max-width: $MIN-DESKTOP) {
			padding: 15px 15px 20px;
		}
  }

  &__image {
    width: 400px;
    height: 300px;
    margin: 0 auto;

		@media (max-width: $MIN-DESKTOP) {
			width: 210px;
			height: 158px;
		}
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 24%);
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    padding: 25px 0 40px;
		
		@media (max-width: $MIN-DESKTOP) {
			grid-template-columns: 1fr;
			row-gap: 47px;
			padding: 25px 0 30px;
		}
  }

	&__item {
		@media (max-width: $MIN-DESKTOP) {
			padding: 0 60px;
		}
	}
}



