.order__container {
    margin-top: 24px;
}

.order__wrapper {
    font-weight: 400;
    @include option(font-size, 44px);
    line-height: 118%;
    letter-spacing: 0em;
    text-align: center;
    color: $heavenly;

    background-color: $lilac;
    border-radius: 30px;
}

.order__title {
    font-family: $Oswald;
    font-weight: 400;
    font-size: 78px;
    line-height: 103%;
    letter-spacing: -0.05em;
    text-align: center;
    @include MOBILE {
        display: none;
    }
}
