.order {
  &__container {
    margin-top: 24px;
  }

  &__wrapper {
    font-weight: 400;
    @include option (font-size, 44px, 30px);
    // font-size: 44px;
    line-height: 118%;
    letter-spacing: 0em;
    text-align: center;
    color: $heavenly;
  
    background-color: $lilac;
    border-radius: 30px;
  }
  
  &__title {
    padding: 31px 0 0;
  
    font-family: $Oswald;
    font-weight: 400;
    @include option (font-size, 78px, 30px, 22px, 50px);
    // font-size: 78px;
    line-height: 103%;
    letter-spacing: -0.05em;
    text-align: center;
  //   @include MOBILE {
  //     display: none;
  //   }
  }

  &__desc {
    padding: 21px 177px 24px;
  }

  &__image {
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 24%);
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    padding: 25px 0 40px;
  }
}



