// Fonts

$Inter: "Inter", "Arial", sans-serif;
$Oswald: "Oswald", "Arial", sans-serif;

// Colors

$white: #ffffff;
$smoky-white: #f7f7f7;
$black: #000000;
$signal-black: #2b2b2b;
$grayish-green: #5b605c;
$silver: #c3c3c3;
$light-silver: #ccc7b9;
$gray-neutral: #9f9f9f;
$timber-wolf: #dad4c5;
$blue: #222fdc;
$dark-blue: #1839cf;
$cadet-blue: #b0b1c1;
$ginger: #e36d2f;
$vanilla: #df6741;
$yellow-green: #e7c56c;
$emerald: #5ad18d;
$fern-green: #3c711e;
$sea-shell:#fbeaef;
$light-mauve: #e5939f;
$heavenly: #72bdf8;
$lilac: #4f23ae;
$bright-yellow: #f7ff8f;
$gainsborough: #ddefd5;
