.possibilities {
	overflow: hidden;

	&__container {
		margin-top: 23px;

		@media (max-width: $MIN-DESKTOP) {
			margin-top: 11px;
		}
	}


	&__list {
		display: grid;
    	grid-template-columns: repeat(3, 32.3%);
		column-gap: 20px;

		@media (max-width: $MIN-DESKTOP) {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, 1fr);
			row-gap: 10px;
		}
	}

	&__item {
		position: relative;

		border-radius: 30px;

		&_0 {
			color: $black;

			background-color: $bright-yellow;
		}

		&_1 {
			background-color: $black;
		}

		&_2 {
			color: $vanilla;

			background-color: $gainsborough;

			@media (max-width: $MIN-DESKTOP) {
				.possibilities__title {
					padding-top: 29px;
				}

				.possibilities__desc {
					padding-bottom: 34px;
				}
			}
		}
	}

	&__title {
		padding: 24px 25px 0;

		font-family: $Oswald;
		font-weight: 400;
		@include option (font-size, 78px, 36px);
		line-height: 103%;
		letter-spacing: -0.05em;

		@media (max-width: $MIN-DESKTOP) {
			padding: 20px 16px 0;

			line-height: 111%;
			letter-spacing: -0.03em;
		}
	}

	&__desc {
		padding: 20px 24px 40px;

		font-weight: 400;
		@include option (font-size, 44px, 20px);
		line-height: 118%;
		letter-spacing: 0em;

		@media (max-width: $MIN-DESKTOP) {
			padding: 20px 20px 44px 16px;

			line-height: 110%;
			letter-spacing: -0.01em;
		}
	}

	&__image {
		position: absolute;
		@include option (top, 50%, 44%);
		left: 50%;
		transform: translate(-49.8%, -51.2%);
		z-index: 2;

		@include option (height, 583px, 410px);

		img {
			width: auto;
		}

		@media (max-width: $MIN-DESKTOP) {
			top: 44.6%;
			transform: translate(-49.2%, -51.2%);
		}
	}
}