.create {
  padding: 64px 0 130px;
  background-color: $timber-wolf;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media (max-width: $MIN-DESKTOP) {
    padding: 30px 0 64px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 66.7%;

    background-color: $light-silver;

    border-radius: 30px;

    @media (max-width: $MIN-DESKTOP) {
      grid-template-columns: 1fr;

      border-radius: 20px;
    }
  }

  &__box {
    padding: 24px 20px 0 24px;

    @media (max-width: $MIN-DESKTOP) {
      padding: 15px 15px 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__button {
    height: 48px;
    padding: 0 17px;

    font-weight: 500;
    @include option (font-size, 16px, 14px);
    @include option (line-height, 300%, 293%);
    letter-spacing: 0.01em;
    text-align: center;
    color: $grayish-green;

    border: none;
    border-radius: 12px;

    cursor: pointer;

    &_active {
      color: $black;

      background-color: $bright-yellow;
    }

    &_disabled {
      padding: 0 11px;
      
      color: $gray-neutral;

      background-color: $ashen;

      pointer-events: none;
    }

    @media (max-width: $MIN-DESKTOP) {
      height: 41px;
      padding: 0 11px;
    }
  }

  &__title {
    @include option (padding, 33px 0 0, 27px 0 0);

    font-weight: 500;
    @include option (font-size, 32px, 24px);
    @include option (line-height, 150%, 200%);
    letter-spacing: 0;
    color: $black;

  }

  &__desc {
    @include option (padding, 6px 0 0, 3px 0 0);

    font-weight: 400;
    @include option (font-size, 22px, 16px);
    @include option (line-height, 164%, 187%);
    letter-spacing: -0.01em;
    color: $grayish-green;

    @media (min-width: $MIN-DESKTOP) {
      br {
        display: none;
      }
    }
  }

  &__inner {
    @include option (margin, 8px, 25px 5px 5px);

    background-color: $white;

    @include option (border-radius, 25px, 20px);
  }

	&__image {
      width: 480px;
      height: 360px;
      margin: 73px auto 0;

      transform: translateX(-1.7%);

      @media (max-width: $MIN-DESKTOP) {
        width: 209px;
        height: 156px;
        margin: 25px auto 0;

        transform: translateX(0);
      }
	}

	&__text {
      @include option (padding, 6px 223px 184px, 0 72px 39px);

      font-family: $Oswald;
      font-weight: 400;
      @include option (font-size, 78px,32px);
      @include option (line-height, 103%, 125%);
      @include option (letter-spacing, -0.05em, 0);
      @include option (text-align, start, center);
      text-transform: lowercase;
      color: $yellow-green;
	}
}