.create {
  padding: 64px 0 130px;
  background-color: $timber-wolf;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 66.7%;

    background-color: $light-silver;

    border-radius: 30px;
  }

  &__box {
    padding: 24px 20px 0 24px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__button {
    height: 48px;
    padding: 0 17px;

    font-weight: 500;
    @include option (font-size, 16px);
    line-height: 300%;
    letter-spacing: 0.01em;
    text-align: center;
    color: $grayish-green;

    border: none;
    border-radius: 12px;

    cursor: pointer;

    &_active {
      color: $black;

      background-color: $bright-yellow;
    }

    &_disabled {
      padding: 0 11px;
      
      color: $gray-neutral;

      background-color: $ashen;

			pointer-events: none;
    }
  }

  &__title {
    padding: 33px 0 0;

    font-weight: 500;
    @include option (font-size, 32px);
    line-height: 150%;
    letter-spacing: 0em;
    color: $black;
  }

  &__desc {
    padding: 6px 0 0;

    font-weight: 400;
    @include option (font-size, 22px);
    line-height: 164%;
    letter-spacing: -0.01em;
    color: $grayish-green;
  }

  &__inner {
    margin: 8px;

    background-color: $white;

    border-radius: 25px;
  }

	&__image {
		width: 480px;
		height: 360px;
		margin: 73px auto 0;

		transform: translateX(-1.7%);
	}

	&__text {
		padding: 6px 223px 184px;

		font-family: $Oswald;
		font-weight: 400;
		@include option (font-size, 78px);
		line-height: 103%;
		letter-spacing: -0.05em;
		text-transform: lowercase;
		color: $yellow-green;
	}
}